@charset "utf-8";

// 'Charter' font family by Matthew Carter

@font-face {
  font-family: Charter;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  src: local('Charter'),
       local('CharterRegular'),
       url('charter/otf/Charter-Regular-fixed.otf') format('opentype');
}

@font-face {
  font-family: Charter;
  font-style: italic;
  font-weight: normal;
  font-stretch: normal;
  src: local('Charter Italic'),
       local('CharterItalic'),
       url('charter/otf/Charter-Italic-fixed.otf') format('opentype');
}

@font-face {
  font-family: Charter;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  src: local('Charter Bold'),
       local('CharterBold'),
       url('charter/otf/Charter-Bold-fixed.otf') format('opentype');
}

@font-face {
  font-family: Charter;
  font-style: italic;
  font-weight: bold;
  font-stretch: normal;
  src: local('Charter Bold Italic'),
       local('CharterBoldItalic'),
       url('charter/otf/Charter-Bold-Italic-fixed.otf') format('opentype');
}


// 'Inconsolata', 'Noto Sans KR', 'Noto Serif KR' and 'Noto Color Emoji' from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Noto+Color+Emoji&family=Noto+Sans+KR:wght@400;700&family=Noto+Serif+KR:wght@400;700&display=swap');


// Define defaults for each variable.

$base-font-family: "Charter",
                   "Source Han Serif K",  "Noto Serif CJK KR",  // OTF
                   "Source Han Serif",    "Noto Serif CJK JP",  // OTF
                   "Source Han Serif SC", "Noto Serif CJK SC",  // OTF
                   "Source Han Serif TC", "Noto Serif CJK TC",  // OTF
                   "Source Han Serif HC", "Noto Serif CJK HK",  // OTF
                   "Source Han Serif KR", "Noto Serif KR",      // Subset OTF
                   serif, "Noto Color Emoji" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.6875 !default;

$code-font-family: "Inconsolata",
                   "Source Han Sans K",  "Noto Sans CJK KR",  // OTF
                   "Source Han Sans",    "Noto Sans CJK JP",  // OTF
                   "Source Han Sans SC", "Noto Sans CJK SC",  // OTF
                   "Source Han Sans TC", "Noto Sans CJK TC",  // OTF
                   "Source Han Sans HC", "Noto Sans CJK HK",  // OTF
                   "Source Han Sans KR", "Noto Sans KR",      // Subset OTF
                   monospace, "Noto Color Emoji" !default;
$code-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
